<div class="row">
	<div class="col-md-6 col-center">
		<h2>{{contact.name}} <a class="btn btn-default pull-right" href="#/app">Back</a></h2>
		<hr>
		<div class="row messages-panel">
			<div class="message-scroller">
				<div class="col-md-12" ng-repeat="message in messages">
					<div class="message-p" ng-show="message.from_user_id != my_id">
						<p><strong>{{contact.name}}</strong></p>
						<p>
							{{message.message}}
							<br><small class="pull-right">{{message.created_at}}</small>
						</p>
					</div>
					<div class="message-p" ng-show="message.from_user_id == my_id">
						<p><strong>Me</strong></p>
						<p>
							{{message.message}}
							<br><small class="pull-right">{{message.created_at}}</small>
						</p>

					</div>
					<hr>
				</div>
			</div>
			<div class="col-md-12">
				<div class="text-message row">
					<div class="col-xs-10">
						<textarea class="form-control" ng-model="message"></textarea>
					</div>
					<div class="col-xs-2">
						<button class='btn btn-success btn-block' ng-click="send_message()">Send</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		update_size();
	});
	$( window ).resize(function(e) {
		update_size();
	});

	function update_size(){
		$('.messages-panel').height($(window).height()-160);
	}
</script>