<div class="row">
	<div class="col-md-6 col-center">
		<center><h1 class="h1-btn" ng-click="go_to_home()">Speed to Contact</1></center>
		<div class="alert alert-danger" ng-show="error">{{error}}</div>
		<p>
			<input class="form-control input-lg" placeholder="Type a number" ng-model="number">
		</p>
		<p>
			<div class="btn-group btn-group-justified" role="group" aria-label="...">
				<div class="btn-group btn-group-lg" role="group">
					<button type="button" class="btn btn-default">
						<span class="glyphicon glyphicon-earphone"></span> Call
					</button>
				</div>
				<div class="btn-group btn-group-lg" role="group">
					<button type="button" class="btn btn-default" ng-click="message(number)">
						<span class="glyphicon glyphicon-envelope"></span> Message
					</button>
				</div>
				<div class="btn-group btn-group-lg" role="group">
					<button type="button" class="btn btn-default" ng-click="add_contact()">
						<span class="glyphicon glyphicon-user"></span> Add Contact
					</button>
				</div>
			</div>
		</p>
		<div class="row">
			<div class="col-xs-6" ng-repeat="user in contact_users">
				<div class="panel panel-default">
					<div class="panel-body">
						<p><strong>{{user.name}}</strong></p>
						<p><i class="fa fa-phone fa-fw"></i> {{user.phone}}</p>
						<p><i class="fa fa-envelope fa-fw"></i> {{user.email}}</p>
						<div class="btn-group btn-group-justified" role="group" aria-label="...">
							<div class="btn-group btn-group-xs" role="group">
								<button type="button" class="btn btn-default">
									<span class="glyphicon glyphicon-earphone"></span> Call
								</button>
							</div>
							<div class="btn-group btn-group-xs" role="group">
								<button type="button" class="btn btn-default" ng-click="message(user.phone)">
									<span class="glyphicon glyphicon-envelope"></span> Message
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>