<div class="row">
	<div class="col-center col-md-6">
		<center><h1 class="h1-btn" ng-click="go_to_home()">Speed to Contact</1></center>
		<div class="row" ng-show="!is_logged">
			<div class="col-md-6">
				<button class="btn btn-lg btn-default btn-block" ng-click="go_to_signup()">Create Account</button>
			</div>
			<div class="col-md-6">
				<button class="btn btn-lg btn-default btn-block" ng-click="go_to_login()">Login</button>
			</div>
		</div>
		<div class="row" ng-show="is_logged">
			<div class="col-md-3">
				<button class="btn btn-lg btn-default btn-block" ng-click="go_to_app()">Contact List</button>
			</div>
		</div>
	</div>
</div>