<div class="row">
	<div class="col-md-6 col-center">
		<center><h1 class="h1-btn" ng-click="go_to_home()">Speed to Contact</1></center>
		<h3>Login</h3>
		<div class="alert alert-danger" ng-show="errors.length > 0">
			<p ng-repeat="error in errors">{{error}}</p>
		</div>
		<div class="alert alert-success" ng-show="just_saved">
			<strong>Account created! Now sign in!</strong>
		</div>
		<form>
			<div class="form-group">
				<label>E-mail</label>
				<input type="email" ng-model="user.email" class="form-control">
			</div>
			<div class="form-group">
				<label>Password</label>
				<input type="password" ng-model="user.password" class="form-control">
			</div>
			<button class="btn btn-success" ng-click="signin()">Login</button>
			<button class="btn btn-default pull-right" ng-click="go_to_signup()">Create Account</button>
		</form>
	</div>
</div>