<div class="row">
	<div class="col-md-6 col-center">
		<center><h1 class="h1-btn" ng-click="go_to_home()">Speed to Contact</1></center>
		<h3>Create Account</h3>
		<div class="alert alert-danger" ng-show="errors.length > 0">
			<p ng-repeat="error in errors">{{error}}</p>
		</div>
		<form>
			<div class="form-group">
				<label>Name</label>
				<input type="text" ng-model="user.name" class="form-control">
			</div>
			<div class="form-group">
				<label>Phone</label>
				<input type="text" ng-model="user.phone" class="form-control">
			</div>
			<div class="form-group">
				<label>E-mail</label>
				<input type="email" ng-model="user.email" class="form-control">
			</div>
			<div class="form-group">
				<label>Password</label>
				<input type="password" ng-model="user.password" class="form-control">
			</div>
			<button ng-click="send_form()" class="btn btn-success">Create Account</button>
			<button ng-click="go_to_login()" class="btn btn-default pull-right">Login</button>
		</form>
	</div>
</div>