.col-center{
	margin-left: auto;
	margin-right: auto;
	float: none;
}
.h1-btn{
	cursor: pointer;
	color: #666;
}
.black-bg-loading{
	position: absolute;
	height: 100%;
	width: 100%;
	background: #000;
	opacity: 0.5;
	z-index: 1000;
}
.spinner-loading{
	position: absolute;
	width: 100%;
	text-align: center;
	z-index: 1001;
	top: 49%;
}
.messages-panel{
	padding-bottom: 50px;
	height: 100%;
	position: relative;
}
.message-scroller{
	height: 100%;
	overflow-y: scroll;
	margin-bottom: 10px;
	border:1px solid #ccc;
}

.icons-top{
	position: absolute;
	left: 0px;
	top: 0px;
	height: 20px;
	width: 100%;
}

.text-online{
	color: #00ff00;
}

.text-offline{
	color: #ccc;
}