<!doctype html>
<html ng-app="speedContact">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Speed To Contact</title>
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="bower_components/components-font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="assets/style.css">
</head>
<body>
	<div class="black-bg-loading sp-loading"></div>
	<div class="spinner-loading sp-loading"><i class="fa fa-spinner fa-spin fa-3x fa-fw fa-inverse"></i></div>
	<div class="icons-top">
		<i class="fa fa-fw fa-circle text-online" title="Online" ng-show="online"></i>
		<i class="fa fa-fw fa-circle text-offline" title="Offline" ng-show="!online"></i>
		<a href="#/app">
			<i class="fa fa-fw fa-envelope"></i> {{notread.length}}
		</a>
	</div>
	<div class="container height-100" ng-controller="ControllerMaster">
		<div class="height-100" ng-view></div>
	</div>
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="http://stc.datayet.com:4050/socket.io/socket.io.js"></script>
	<!-- Boot -->
	<script src="main.js"></script>
	<script src="routes.js"></script>
	<!-- Models -->
	<script src="models/user.js"></script>
	<!-- Controllers -->
	<script src="controllers/master.js"></script>
	<script src="controllers/signup.js"></script>
	<script src="controllers/signin.js"></script>
	<script src="controllers/app.js"></script>
	<script src="controllers/app.message.js"></script>
	<!-- Services -->
	<script src="services/auth.js"></script>
	<script src="services/storage.js"></script>
	<script src="services/socket.js"></script>
</body>
</html>
